#aboutUs--hero--section {
  display: flex;
  position: relative;
  background-color: #000;
  width: 1267px;
  height: fit-content;
  display: flex;
  margin: 0%;
  padding: 40px;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#aboutUs--hero--section img {
  display: flex;
  position: relative;
  background-color: #000;
  width: 400px;
  height: fit-content;
  display: flex;
  margin: 0%;
  padding: 0px;
  align-items: flex-start;
  justify-content: space-between;
}
#aboutUs--hero--txt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: fit-content;
  display: flex;
  margin: 0%;
  padding: 0%;
  align-items: flex-start;
  gap: 20px;
}
#aboutUs--hero--txt h1 {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 3.5rem;
  font-weight: 1000;
  line-height: 4rem;
  width: 100%;
  height: fit-content;
  display: flex;
  margin: 0%;
  padding: 0%;
  align-items: center;
  color: rgb(206, 205, 205);
}
#aboutUs--hero--txt p {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: fit-content;
  font-size: 1.3rem;
  display: flex;
  margin: 0%;
  padding: 0px;
  line-height: 2.5rem;
  align-items: center;
  color: rgb(235, 231, 231);
  text-align: left;
}
#aboutUs--hero--txt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: fit-content;
  display: flex;
  margin: 0%;
  padding: 0%;
  align-items: flex-start;
  gap: 20px;
}
#ourStory--section {
  background-color: #ac96c7;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1220px;
  height: fit-content;
  display: flex;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0%;
  padding: 80px 60px;
  align-items: center;
  gap: 20px;
}

#ourStory--section h2 {
  display: flex;
  color: #9115c8;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  font-size: 2.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0%;
  padding: 0px;
  align-items: center;
}
#ourVisionMission--section {
  background-color: #000;
  display: flex;
  position: relative;
  width: 1220px;
  height: fit-content;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0%;
  padding: 80px 60px;
  justify-content: flex-start;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  align-items: center;
  gap: 20px;
}
#whatWeStandFor {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0%;
  padding: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  align-items: flex-start;
  text-align: left;
  gap: 20px;
}
#whatWeStandFor h2 {
  color: #09c391;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  font-size: 2.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0%;
  padding: 0px;
  align-items: flex-start;
}
#whatWeStandFor p {
  color: #eee;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0%;
  padding: 0px;
  align-items: center;
}
#ourMission {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0%;
  padding: 0px;
  gap: 20px;
}
#ourMission h2 {
  color: #af98c8;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  font-size: 2.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0%;
  padding: 0px;
  align-items: flex-start;
  gap: 20px;
}
#ourMission p {
  color: #eee;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 0%;
  padding: 0px;
  align-items: center;
  gap: 20px;
}
/*=========  .7. MEDIA QUERIES ================= */
/* <<<<<<<<>>>>>>>>  desktop2 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1358px) {
}
/* <<<<<<<<>>>>>>>>  desktop 3 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1112px) {
}
/* <<<<<<<<>>>>>>>>  desktop mini <<<<<<<<>>>>>>>> */
@media screen and (max-width: 909px) {
}
/* <<<<<<<<>>>>>>>> .7b. Tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 768px) {
}
/* <<<<<<<>>>>>>>> the inbetween mobile and tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 644px) {
}
/* <<<<<<<<>>>>>>>> .7b. Mobile <<<<<<<<>>>>>>>> */
@media screen and (max-width: 480px) {
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  main {
    margin: 0;
    padding: 10px;
  }

  #aboutUs--hero--section {
    flex-direction: column;
    position: relative;
    background-color: #000;
    width: 85%;
    padding: 10px 20px;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
  }
  #aboutUs--hero--section img {
    display: flex;
    position: relative;
    background-color: #000;
    width: 350px;
    height: fit-content;
    margin: 0%;
    margin-top: 20px;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }
  #aboutUs--hero--txt {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 0%;
    padding: 0%;
    align-items: center;
    gap: 20px;
  }
  #aboutUs--hero--txt h1 {
    display: flex;
    position: relative;
    font-size: 2rem;
    font-weight: 1000;
    line-height: 2rem;
    width: 100%;
  }
  #aboutUs--hero--txt p {
    width: 100%;
    height: fit-content;
    font-size: 1.3rem;
    display: flex;
    margin: 0%;
    padding: 0px;
    line-height: 1.5rem;
    align-items: center;
    color: rgb(235, 231, 231);
    text-align: left;
  }

  #ourStory--section {
    background-color: #ac96c7;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 85%;
    height: fit-content;
    display: flex;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin: 0%;
    padding: 20px 20px;
    align-items: center;
    gap: 20px;
  }

  #ourStory--section h2 {
    color: #9115c8;
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 2.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin: 0%;
    padding: 0px;
    align-items: center;
  }
  #ourVisionMission--section {
    background-color: #000;
    flex-direction: column;
    position: relative;
    width: 85%;
    height: fit-content;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin: 0%;
    padding: 20px;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center;
    gap: 20px;
  }
  #whatWeStandFor {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin: 0%;
    padding: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
  }
  #whatWeStandFor h2 {
    color: #09c391;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 2.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin: 0%;
    padding: 0px;
    align-items: flex-start;
  }
  #whatWeStandFor p {
    color: #eee;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin: 0%;
    padding: 0px;
    align-items: center;
  }
  #ourMission {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin: 0%;
    padding: 0px;
    gap: 20px;
  }
  #ourMission h2 {
    color: #af98c8;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 2.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin: 0%;
    padding: 0px;
    align-items: flex-start;
    gap: 20px;
  }
  #ourMission p {
    color: #eee;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin: 0%;
    padding: 0px;
    align-items: center;
    gap: 20px;
  }
}
