/* ============================ hero section ===============================    */
#hero--section {
  background-image: linear-gradient(480deg, #913487, #068c71);
  display: flex;
  position: relative;
  width: 1267px;
  height: fit-content;
  border-radius: 40px;
  margin: 0;
  padding: 30px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}
#hero--txt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: 100%;
  color: #fff;
  justify-content: center;
  gap: 20px;
}
#hero--txt h1 {
  font-size: 4rem;
  font-weight: 1000;
  line-height: 4rem;
  margin: 0;
}
#hero--txt p {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  width: 99%;
  margin: 0;
}
#hero--img--container {
  display: flex;
  position: relative;
  width: 60%;
  height: 400px;
  background-color: #128573;
  border-radius: 40px;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  #quick-showcase-section {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  }
  
 
  #quickShowcase--intro--txt--container {
    width: 100%;
    margin: auto;
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
#quickShowcase--intro--txt--container h2 {
  color: #09c391;
  display: flex;
  position: relative;
  font-size: 2.2rem;
  width: 100%;
  margin: 0;
  padding: 0px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#quickShowcase--intro--txt--container p {
  color: #eee;
  display: flex;
  position: relative;
  font-size: 1.2rem;
  width: 700px;
  text-align: center;
  margin: auto;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#social--media--cards--container {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  margin: auto;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 50px;
  margin-top: 30px;
  flex-wrap: wrap;
  max-width: 1297px;
}
.social--media--card {
  display: flex;
  background-color: #222;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: fit-content;
  margin: 0;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 30px;
}
.socialMedia--card--header {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.socialMedia--card--header img {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  margin-left: 20px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.socialMedia--card--header h3 {
  display: flex;
  color: #fff;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.socialMedia--cardMain--content {
  display: flex;
  background-color: #000;
  position: relative;
  width: 95%;
  height: 300px;
  margin: 0;
  padding: 0px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.socialMedia--card--footer {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.socialMedia--card--footer p {
  color: #eee;
  display: flex;
  position: relative;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  width: 85%;
  height: 60px;
  margin: 0;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#why--choose--vmac--section {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-radius: 40px;
  margin: 0;
  margin-top: 50px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
#why--choose--vmac--section h2 {
  color: #af98c8;
  display: flex;
  position: relative;
  font-size: 2.2rem;
  width: 100%;
  margin: 0;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#why--choose--vmac--section p {
  color: #eee;
  display: flex;
  position: relative;
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
  margin: 0;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#whyChooseVmac--cards--container {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  margin: auto;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 50px;
  margin-top: 30px;
  flex-wrap: wrap;
  max-width: 1297px;
}
.whyChooseVmac--card {
  display: flex;
  background-color: #232222;
  flex-direction: column;
  position: relative;
  width: 25%;
  height: fit-content;
  margin: 0;
  padding: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  gap: 20px;
}
.whyChooseVmac--card--header {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 18px;
}
#whyChooseVmac--card--header--2 {
  color: #a4ffe7;
}
#whyChooseVmac--card--header--3 {
  color: #aba5f9;
}
#whyChooseVmac--card--header--4 {
  color: #a4ffbb;
}
#whyChooseVmac--card--header--5 {
  color: #f4a7ff;
}
#whyChooseVmac--card--header--6 {
  color: #ffe2a4;
}

.whyChooseVmac--card--header img {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.whyChooseVmac--card--header h4 {
  color: #a3d4ff;
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
#whyChooseVmac--cards--container p {
  color: #eee;
  display: flex;
  font-size: 0.9rem;
  position: relative;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  width: 100%;
  height: fit-content;
  margin: 0;
  text-align: left;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

/*=========  .7. MEDIA QUERIES ================= */
/* <<<<<<<<>>>>>>>>  desktop2 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1358px) {
}
/* <<<<<<<<>>>>>>>>  desktop 3 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1112px) {
}
/* <<<<<<<<>>>>>>>>  desktop mini <<<<<<<<>>>>>>>> */
@media screen and (max-width: 909px) {
}
/* <<<<<<<<>>>>>>>> .7b. Tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 768px) {
}
/* <<<<<<<>>>>>>>> the inbetween mobile and tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 644px) {
}
/* <<<<<<<<>>>>>>>> .7b. Mobile <<<<<<<<>>>>>>>> */
@media screen and (max-width: 480px) {
  /* ============================ hero section ===============================    */
  #hero--section {
    flex-direction: column;
    width: 90%;
    height: fit-content;
    border-radius: 20px;
    margin: 0;
    margin-top: 30px;
    padding: 10px 0px 5px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
  }
  #hero--txt {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0px;
    gap: 20px;
  }
  #hero--txt h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
    /* transform: translate(8%); */
  }
  #quickShowcase--intro--txt--container h2 {
  color: #09c391;
  display: flex;
  position: relative;
  font-size: 2.2rem;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

  #hero--img--container {
    display: flex;
    position: relative;
    width: 90%;
    height: 300px;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #quick-showcase-section {
    flex-direction: column;
    margin-top: 50px;
  }
  .social--media--card {
  
  width: 90%;
  
  
}

    #why--choose--vmac--section p, #hero--txt p, #quickShowcase--intro--txt--container p {
    width: 89%;
    justify-content: center;
    margin: auto;
    text-align: left;
    align-content: center;
  }
  #social--media--cards--container {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 50px;
  margin-top: 30px;
  flex-wrap: wrap;
  max-width: 1297px;

}

  #why--choose--vmac--section {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-top: 40px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
  }
  /* {
    width: 100%;
    text-align: left;
  } */
  #whyChooseVmac--cards--container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  .whyChooseVmac--card {
    width: 80%;
    height: fit-content;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #whyChooseVmac--cards--container p {
    color: #eee;
    display: flex;
    font-size: 0.9rem;
    position: relative;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    width: 300px;
    height: fit-content;
    margin: 0;
    text-align: left;
    padding: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
