

/*============= .1. GENERAL ===================*/
html{
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0;
}

body {
  background-color: #161616;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}



/* ===================== main ================================ */
main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
}


/* ====================popup=========================== */
#popUp{
  background-color: #0a0a0a3d;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  backdrop-filter: blur(8px);
    background-image: linear-gradient(
        50deg,
        #1b1a1a7a,
        #0f0f0f92,
        #1b1a1a94,
        #0f0f0f94,
        #2726266b);
}

#optionBox{
  flex-direction: column;
  color: #8614C9;
  border: 1px solid #8614C9;
  background-color: black;
  display: flex;
  position: relative;
  width: 30%;
  height: 60%;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  top: -7%;
  gap: 10px;
  overflow: hidden;

  
}
.options{
  display: flex;
  position: relative;
  width: fit-content;
  font-size: 1.5;
  gap: 50px;
}
.options, a {
  text-decoration: none;
  color: #8614C9;
}
.options:hover{
  filter: hue-rotate(390deg);
}
#popUpX{
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
}
#popUpX:hover{
  filter: hue-rotate(90deg);
  scale: 80%;
}
/*=========  .7. MEDIA QUERIES ================= */
/* <<<<<<<<>>>>>>>>  desktop2 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1358px) {
}
/* <<<<<<<<>>>>>>>>  desktop 3 <<<<<<<<>>>>>>>> */
@media screen and (max-width: 1112px) {
}
/* <<<<<<<<>>>>>>>>  desktop mini <<<<<<<<>>>>>>>> */
@media screen and (max-width: 909px) {
}
/* <<<<<<<<>>>>>>>> .7b. Tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 768px) {
  
}
/* <<<<<<<>>>>>>>> the inbetween mobile and tablet <<<<<<<<>>>>>>>> */
@media screen and (max-width: 644px) {
   #optionBox{
  
  position: relative;
  width: 90%;
  height: 50%

  
}
}
/* <<<<<<<<>>>>>>>> .7b. Mobile <<<<<<<<>>>>>>>> */
@media screen and (max-width: 480px) {
    html, body {
    width: 100%;
    overflow-x: hidden;
  }
  main {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    display: flex;
    position: relative;
    
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #optionBox{
  
  position: relative;
  width: 90%;
  height: 50%

  
}
  
}
